:root {
    --c-navy: #001f3f;
    --c-blue: #0074D9;
    --c-aqua: #7FDBFF;
    --c-teal: #39CCCC;
    --c-purple: #B10DC9;
    --c-indigo: #4b0082;
    --c-fuchsia: #F012BE;
    --c-maroon: #85144b;
    --c-red: #FF4136;
    --c-orange: #FF851B;
    --c-yellow: #FFDC00;
    --c-olive: #3D9970;
    --c-green: #2ECC40;
    --c-lime: #01FF70;
    --c-red-muted: #FF4136;
    --c-orange-muted: #FF851B;
    --c-yellow-muted: #FFDC00;
    --c-green-muted: #2ECC40;
    --c-blue-muted: #0074D9;
    --c-indigo-muted: #4b0082;
    --c-violet-muted: #B10DC9;
    --c-black: #111111;
    --c-grey: #AAAAAA;
    --c-silver: #DDDDDD;
    --c-white: #FFFFFF;
}

body {
    background-color: var(--c-indigo-muted);
    color: var(--c-silver);
}

h1 {
    text-align: center;

    font-family: 'Rubik Microbe', sans-serif;
}